<%= turbo_stream.update :preview do %>
   <% if !@preview_temp_user.valid? && @preview_temp_user.errors.any? %>
       <p class="text-red-500 text-xl">Please correct the following errors:</p>
       <ul>
           <% @preview_temp_user.errors.full_messages.each do |message| %>
               <li class="text-red-500"><%= message %></li>
           <% end %>
       </ul>
   <% end %>
<% end %>